.large {
  .el-input__inner {
    padding: 25px;
    font-size: 16px;
  }
}

button.large {
  height: 50px;
  font-size: 16px;
  font-weight: 400;
}

.full-width {
  .el-select {
    width: 100%
  }
}

.el-date-editor {
  width: 100% !important;
}

.ql-picker {
  line-height: 16px;
}

.el-form-item__label {
  float: inherit;
}

.location-type {
  .el-form-item__error {
    top: inherit;
    bottom: 10px;
  }
}

.is-error {
  .quillWrapper, .vue2leaflet-map, .el-upload--picture-card {
    border: red 1px solid;
  }
}
