.step-steps {
  overflow: hidden;
  margin: 0 auto;
}

.step-steps > li {
  display: inline-block;
  text-align: center;
  width: 24%;
  position: relative;
  z-index: 1;
}

.step-steps > li:before {
  position: absolute;
  content: "";
  z-index: -1;
  width: 185px;
  height: 2px;
  background-color: #C4CAD2;
  top: 35px;
  left: 85px;
}

.step-steps > li:last-child:before {
  background-color: transparent;
}

.step-steps > li.done:before {
  background-color: #FDB51C;
}

.step-steps > li > a ,
.step-steps > li > a > span {
  display: block;
}

.step-steps > li > a > .number {
  background-color: #dae1e8;
  border: 1px solid #b6c2cf;
  border-radius: 50%;
  color: #454e5b;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  margin: 10px auto;
  position: relative;
  width: 50px;
  z-index: 0;
}

.step-steps > li > a > .number::before,
.step-steps > li.done > a > .number::after {
  border-radius: inherit;
  box-shadow: 1px 1px 5px #d1d7de;
  height: 36px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 36px;
  background-color: #fff;
}

.step-steps > li > a > .number::before {
  content: "";
  z-index: -1;
}

.step-steps > li.done > a > .number::after {
  content: "\f00c";
  z-index: 1;
  font-family: fontawesome;
  line-height: 35px;
}

.step-steps > li > a > .step-name {
  color: #47494e;
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
}

.step-steps > li.error a {
  color: #fff;
}

.step-steps > li.done > a > .number {
  background-color: #FDB51C;
  border-color: #D79A18;
}

.step-content {
  border: 1px solid #e5e5e5;
  padding-top: 55px;
  border-top: 0;
}

.step-content > .step-tab-panel {
  display: none;
}

.step-content > .step-tab-panel.active {
  display: block;
}

.step-footer {
  margin-top: 15px;
  margin-bottom: 15px;
}

.step-footer > .step-btn {
  padding: 4px 16px;
  color: #333;
  text-decoration: none;
  background: #e5e5e5;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
}

#add-event-tab {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

#add-event-tab .step-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 0;
}

#add-event-tab .step-steps > li {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%;
  max-width: 0 0 33.3333%;
}

#add-event-tab .step-steps > li:before {
  background-color: #ededed;
  height: 5px;
  left: 50%;
  top: 20px;
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  content: '';
}

#add-event-tab .step-steps > li > a > .number {
  width: 24px;
  height: 24px;
  background-color: #d1d1d1;
  border: 0px solid;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#add-event-tab .step-steps > li > a > .number:before {
  background-color: rgba(221, 221, 211, 0.3);
  box-shadow: 0 0 0 rgba(221, 221, 211, 0);
  height: calc(100% + 16px);
  width: calc(100% + 16px);
  top: -8px;
  left: -8px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  content: '';
}

#add-event-tab .step-steps > li > a > .step-name {
  font-weight: 500;
  color: #b2b2b2;
  font-size: 14px;
  margin-top: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: capitalize;
}

#add-event-tab .step-steps > li:last-child:before {
  width: 0;
  content: '';
}

#add-event-tab .step-steps > li.active > a > .number,
#add-event-tab .step-steps > li.done > a > .number {
  background-color: #6ac045;
}

#add-event-tab .step-steps > li.active > a > .number:before,
#add-event-tab .step-steps > li.done > a > .number:before {
  background-color: rgba(106, 192, 69, 0.3);
  content: '';
}

#add-event-tab .step-steps > li.active > a > .step-name,
#add-eventevent-tab .step-steps > li.done > a > .step-name {
  color: #333;
}

#add-event-tab .step-steps > li.done:before {
  background-color: #6ac045;
  content: '';
}

#add-event-tab .step-steps > li.done > a > .number:after {
  display: none;
  content: '';
}

#add-event-tab > .step-content {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  border: 0px solid;
  border-radius: 0px;
  padding-top: 35px;
}

#add-event-tab > .step-content .title-icon {
  margin-bottom: 25px;
}
